Repository bearlike/Personal-Assistant: changes, and which Codecov flags are due for each by the changed paths.
All: core, tools, cli, api, chat, ha

codecov.yml:

coverage:
  status:
    patch:
      default:
        paths:
          - "packages/meeseeks_tools/src/meeseeks_tools/vendor/**"
          - "vendor/**"

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: core
      paths:
        - "packages/meeseeks_core/**"
    - component_id: tools
      name: tools
      paths:
        - "packages/meeseeks_tools/**"
    - component_id: cli
      name: cli
      paths:
        - "apps/meeseeks_cli/**"
    - component_id: api
      name: api
      paths:
        - "apps/meeseeks_api/**"
    - component_id: chat
      name: chat
      paths:
        - "apps/meeseeks_chat/**"
    - component_id: ha
      name: ha
      paths:
        - "meeseeks_ha_conversation/**"

🐛 fix(orchestration): retain tool output on reflection
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/planning.py
  packages/meeseeks_core/src/meeseeks_core/prompts/step-executor.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tool-selector.txt
  tests/test_action_runner.py
  tests/test_orchestration.py
Due: core

🧪 test(planning): cover web_url_read selection
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  tests/test_orchestration.py
  tests/test_planning_intent.py
Due: core

🧪 test(orchestration): align failure response
  tests/test_orchestration.py
Due: none

♻️ refactor(core): replace action fields with tool fields
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  apps/meeseeks_chat/tests/test_chat_master.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_master.py
  apps/meeseeks_cli/tests/test_cli.py
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/classes.py
  packages/meeseeks_core/src/meeseeks_core/common.py
  packages/meeseeks_core/src/meeseeks_core/context.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/permissions.py
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-edit-blocks.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-list-dir.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-read-file.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/home-assistant.txt
  packages/meeseeks_core/src/meeseeks_core/reflection.py
  packages/meeseeks_core/src/meeseeks_core/types.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/aider_edit_blocks.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/aider_file_tools.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/aider_shell_tool.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/homeassistant.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/mcp.py
  tests/test_action_runner.py
  tests/test_aider_edit_blocks.py
  tests/test_aider_file_tools.py
  tests/test_aider_shell_tool.py
  tests/test_context.py
  tests/test_core_classes.py
  tests/test_orchestration.py
  tests/test_permissions.py
  tests/test_reflection.py
  tests/test_tools_integration.py
Due: core, tools, cli, api, chat

💄 style(core): apply formatter output
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/classes.py
  tests/test_permissions.py
Due: core

♻️ refactor(orchestration): drop unused action step helper
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
Due: core

📝 docs(repo): refresh docs and agents
  README.md
  agents.md
  apps/meeseeks_api/AGENTS.md
  apps/meeseeks_api/README.md
  apps/meeseeks_chat/AGENTS.md
  apps/meeseeks_chat/README.md
  docs/getting-started.md
  docs/index.md
  docs/session-runtime.md
  meeseeks_ha_conversation/AGENTS.md
  meeseeks_ha_conversation/README.md
  packages/meeseeks_core/README.md
  packages/meeseeks_tools/README.md
  tests/AGENTS.md
Due: core, tools, api, chat, ha

🏗️ build(version): reset versioning to 0.0.6
  .env.example
  apps/meeseeks_api/pyproject.toml
  apps/meeseeks_chat/pyproject.toml
  apps/meeseeks_cli/pyproject.toml
  configs/app.example.json
  docker/Dockerfile.base
  meeseeks_ha_conversation/pyproject.toml
  packages/meeseeks_core/pyproject.toml
  packages/meeseeks_core/src/meeseeks_core/config.py
  packages/meeseeks_tools/pyproject.toml
  pyproject.toml
Due: core, tools, cli, api, chat, ha

🏗️ build(version): bump workspace to 0.0.7
  .env.example
  apps/meeseeks_api/pyproject.toml
  apps/meeseeks_chat/pyproject.toml
  apps/meeseeks_cli/pyproject.toml
  configs/app.example.json
  docker/Dockerfile.base
  meeseeks_ha_conversation/pyproject.toml
  packages/meeseeks_core/pyproject.toml
  packages/meeseeks_core/src/meeseeks_core/config.py
  packages/meeseeks_tools/pyproject.toml
  pyproject.toml
Due: core, tools, cli, api, chat, ha

🔧 chore(codecov): make coverage checks informational
  codecov.yml
Due: none

🧪 test(coverage): close patch gaps
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  tests/test_action_runner.py
  tests/test_aider_edit_blocks.py
  tests/test_aider_file_tools.py
  tests/test_aider_shell_tool.py
  tests/test_common.py
  tests/test_core_classes.py
  tests/test_notification_share_store.py
  tests/test_orchestration.py
  tests/test_planning_examples.py
  tests/test_planning_intent.py
Due: core, api

🧹 chore(lint): fix test warnings
  tests/test_notification_share_store.py
  tests/test_planning_intent.py
Due: none

🧹 chore(lint): sort imports
  tests/test_planning_intent.py
Due: none

🔧 chore(ci): add uv lock refresh workflow
  .github/workflows/uv-lock-refresh.yml
Due: none

🔧 chore(uv): refresh lockfile
  uv.lock
Due: none

🐛 fix(session-runtime): hide sessions without user events
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  tests/test_session_runtime.py
Due: core

🐛 fix(sessions): hide empty sessions
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
Due: core, api

✨ feat(docs): enable mermaid diagrams
  docs/javascripts/mermaid-init.js
  mkdocs.yml
Due: none

✨ feat(docs): switch mkdocs theme to shadcn
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: none

Deployed 39c3771 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/getting-started/index.html
  dev/javascripts/mermaid-init.js
  dev/reference/index.html
  dev/search/search_index.json
  dev/session-runtime/index.html
Due: none

Deployed 39c3771 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/javascripts/mermaid-init.js
Due: none

Deployed 4973af5 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/components/index.html
  dev/getting-started/index.html
  dev/index.html
  dev/javascripts/mermaid-init-v2.js
  dev/reference/index.html
  dev/session-runtime/index.html
  latest/components/index.html
  latest/getting-started/index.html
  latest/index.html
  latest/javascripts/mermaid-init-v2.js
  latest/reference/index.html
  latest/session-runtime/index.html
Due: none

Deployed 96b1b77 to dev with MkDocs 1.6.1 and mike 2.1.3
  dev/components/index.html
  dev/getting-started/index.html
  dev/index.html
  dev/javascripts/copy-page.js
  dev/javascripts/version-switcher.js
  dev/reference/index.html
  dev/search/search_index.json
  dev/session-runtime/index.html
  latest/components/index.html
  latest/getting-started/index.html
  latest/index.html
  latest/javascripts/copy-page.js
  latest/javascripts/version-switcher.js
  latest/reference/index.html
  latest/search/search_index.json
  latest/session-runtime/index.html
Due: none

🐛 fix(core): hide empty sessions and ship docs/media platform refresh
  .github/workflows/docs.yml
  README.md
  apps/meeseeks_api/tests/test_backend.py
  docs/clients-cli.md
  docs/clients-home-assistant.md
  docs/clients-web-api.md
  docs/components.md
  docs/core-orchestration.md
  docs/developer-guide.md
  docs/getting-started.md
  docs/index.md
  docs/javascripts/build-info.js
  docs/javascripts/copy-page.js
  docs/javascripts/mermaid-init-v2.js
  docs/javascripts/version-switcher.js
  docs/litellm-config.example.yml
  docs/llm-setup.md
  docs/meeseeks-cli-01-video.mp4
  docs/meeseeks-console-01-front.jpg
  docs/meeseeks-console-02-tasks.jpg
  docs/reference.md
  mkdocs.yml
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  pyproject.toml
  uv.lock
Due: core, api

📝 chore(docs): Restore video at top of README.md
  README.md
Due: none
