Repository bearlike/Personal-Assistant: changes, and which Codecov flags are due for each by the changed paths.
All: core, tools, cli, api, chat, ha

✨ feat(api): add async session polling and cancel runs
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/task_master.py
Due: core, api

💄 style(api): satisfy lint for session endpoints
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
Due: api

💄 style(api): sort backend imports
  apps/meeseeks_api/src/meeseeks_api/backend.py
Due: api

🐛 fix(orchestration): default cancel hook for plan runner
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
Due: core

✨ feat(core): add shared session runtime
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_commands.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_context.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_master.py
  apps/meeseeks_cli/tests/test_cli.py
  apps/meeseeks_cli/tests/test_cli_commands.py
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  tests/test_session_runtime.py
Due: core, cli, api

📝 docs(core): document session runtime
  README.md
  apps/meeseeks_api/AGENTS.md
  apps/meeseeks_api/README.md
  apps/meeseeks_cli/AGENTS.md
  apps/meeseeks_cli/README.md
  docs/components.md
  docs/getting-started.md
  docs/index.md
  docs/reference.md
  docs/session-runtime.md
  mkdocs.yml
Due: cli, api

🐛 fix(core): satisfy session runtime typing
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
Due: core

✨ feat(api): expose tool registry for UI
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
Due: api

🐛 fix(tools): harden aider edit block feedback
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/errors.py
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-edit-blocks.txt
  packages/meeseeks_tools/src/meeseeks_tools/integration/aider_edit_blocks.py
  tests/test_action_runner.py
  tests/test_aider_edit_blocks.py
Due: core, tools

🐛 fix(core): hide empty sessions in listings
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  tests/test_session_runtime.py
Due: core, api

✨ feat(core): add session archiving
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  packages/meeseeks_core/src/meeseeks_core/session_store.py
  tests/test_session_runtime.py
  tests/test_session_store.py
Due: core, api

💄 style(tests): normalize archive test formatting
  apps/meeseeks_api/tests/test_backend.py
Due: api

📝 docs(docs): document session archiving and edit blocks
  README.md
  agents.md
  apps/meeseeks_api/README.md
  docs/getting-started.md
  docs/index.md
  docs/reference.md
  docs/session-runtime.md
Due: api

🧪 test(tools): improve edit-block coverage
  packages/meeseeks_tools/src/meeseeks_tools/aider_bridge/edit_blocks.py
  tests/test_aider_edit_blocks.py
  tests/test_orchestration.py
Due: tools

📝 docs(readme): clarify API-only polling
  README.md
  docs/getting-started.md
  docs/index.md
  docs/session-runtime.md
Due: none

📝 docs(readme): expand architecture diagram
  README.md
Due: none

📝 docs(wiki): restructure DeepWiki pages
  .devin/wiki.json
Due: none

💄 style(tests): wrap long comprehension
  tests/test_orchestration.py
Due: none

✨ feat(api): add session runtime + API session controls (#50)
  .devin/wiki.json
  README.md
  agents.md
  apps/meeseeks_api/AGENTS.md
  apps/meeseeks_api/README.md
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  apps/meeseeks_cli/AGENTS.md
  apps/meeseeks_cli/README.md
  apps/meeseeks_cli/src/meeseeks_cli/cli_commands.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_context.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_master.py
  apps/meeseeks_cli/tests/test_cli.py
  apps/meeseeks_cli/tests/test_cli_commands.py
  docs/components.md
  docs/getting-started.md
  docs/index.md
  docs/reference.md
  docs/session-runtime.md
  mkdocs.yml
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/errors.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-edit-blocks.txt
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  packages/meeseeks_core/src/meeseeks_core/session_store.py
  packages/meeseeks_core/src/meeseeks_core/task_master.py
  packages/meeseeks_tools/src/meeseeks_tools/aider_bridge/edit_blocks.py
  packages/meeseeks_tools/src/meeseeks_tools/integration/aider_edit_blocks.py
  tests/test_action_runner.py
  tests/test_aider_edit_blocks.py
  tests/test_orchestration.py
  tests/test_session_runtime.py
  tests/test_session_store.py
Due: core, tools, cli, api

📝 docs(readme): add console roadmap preview
  README.md
Due: none

👷 ci(dependabot): group and throttle updates
  .github/dependabot.yml
Due: none

🐛 fix(cli): always preview diff/file results
  apps/meeseeks_cli/src/meeseeks_cli/cli_master.py
Due: cli

🏗️ build(deps): require mcp adapters and langfuse
  apps/meeseeks_api/pyproject.toml
  apps/meeseeks_chat/pyproject.toml
  apps/meeseeks_cli/pyproject.toml
  packages/meeseeks_core/pyproject.toml
  packages/meeseeks_tools/pyproject.toml
  uv.lock
Due: core, tools, cli, api, chat

🐛 fix(core): include MCP tools in action validation
  packages/meeseeks_core/src/meeseeks_core/tool_registry.py
  tests/test_tool_registry.py
Due: core

📝 docs(readme): restore codecov badge
  README.md
Due: none

🐛 fix(core): keep MCP tools enabled after runtime errors
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  tests/test_action_runner.py
Due: core

✨ feat(api): pass through orchestration mode
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
Due: api

✨ feat(api): add notifications, attachments, and share endpoints
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/notifications.py
  packages/meeseeks_core/src/meeseeks_core/share_store.py
Due: core, api

🐛 fix(core): emit completion errors
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/types.py
  tests/test_orchestration.py
Due: core

🧪 test(api): assert auto-approve
  apps/meeseeks_api/tests/test_backend.py
Due: api

♻️ refactor(api): centralize notification helpers
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  packages/meeseeks_core/src/meeseeks_core/notifications.py
  packages/meeseeks_core/src/meeseeks_core/share_store.py
Due: core, api

🔧 chore(api): resolve ruff/mypy errors
  apps/meeseeks_api/src/meeseeks_api/backend.py
  packages/meeseeks_core/src/meeseeks_core/notifications.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/share_store.py
Due: core, api

🐛 fix(api): define NotificationService before use
  apps/meeseeks_api/src/meeseeks_api/backend.py
Due: api

🐛 fix(orchestration): surface reflection failures
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  tests/test_orchestration.py
Due: core

🐛 fix(orchestration): propagate reflection failures
  packages/meeseeks_core/src/meeseeks_core/action_runner.py
  packages/meeseeks_core/src/meeseeks_core/context.py
  tests/test_orchestration.py
Due: core

🐛 fix(planning): keep DeepWiki tools in intent filter
  packages/meeseeks_core/src/meeseeks_core/planning.py
  tests/test_planning_intent.py
Due: core

Revert "🐛 fix(planning): keep DeepWiki tools in intent filter"
  packages/meeseeks_core/src/meeseeks_core/planning.py
  tests/test_planning_intent.py
Due: core

✨ feat(orchestration): simplify plan schema and execution flow
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_api/tests/test_backend.py
  apps/meeseeks_chat/src/meeseeks_chat/chat_master.py
  apps/meeseeks_chat/tests/test_chat_master.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_master.py
  apps/meeseeks_cli/tests/test_cli.py
  packages/meeseeks_core/src/meeseeks_core/classes.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/planning.py
  packages/meeseeks_core/src/meeseeks_core/prompts/action-planner.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/plan-updater.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/step-executor.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tool-selector.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-edit-blocks.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-list-dir.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-read-file.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/aider-shell.txt
  packages/meeseeks_core/src/meeseeks_core/prompts/tools/home-assistant.txt
  packages/meeseeks_core/src/meeseeks_core/reflection.py
  packages/meeseeks_core/src/meeseeks_core/session_runtime.py
  packages/meeseeks_core/src/meeseeks_core/task_master.py
  packages/meeseeks_core/src/meeseeks_core/types.py
  tests/test_core_classes.py
  tests/test_orchestration.py
  tests/test_planning_examples.py
  tests/test_prompt_injection.py
  uv.lock
Due: core, cli, api, chat

💄 style(core): apply formatter updates
  apps/meeseeks_api/src/meeseeks_api/backend.py
  apps/meeseeks_cli/src/meeseeks_cli/cli_dialogs.py
  packages/meeseeks_core/src/meeseeks_core/classes.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/planning.py
  tests/test_aider_edit_blocks.py
  tests/test_components.py
  tests/test_tool_registry.py
Due: core, cli, api

✨ feat(core): add per-session log files
  packages/meeseeks_core/src/meeseeks_core/common.py
  packages/meeseeks_core/src/meeseeks_core/orchestrator.py
  packages/meeseeks_core/src/meeseeks_core/planning.py
Due: core

Path conditions:
  core: any of: packages/meeseeks_core/**
  tools: any of: packages/meeseeks_tools/**
  cli: any of: apps/meeseeks_cli/**
  api: any of: apps/meeseeks_api/**
  chat: any of: apps/meeseeks_chat/**
  ha: any of: meeseeks_ha_conversation/**
